.Wrapp {
    background-color: var(--color-bg-light);
    flex-grow: 1;
}

.Wrapp__content {
    padding-top: calc(var(--vkui_internal--panel_header_height) + var(--group-header-spacing) + 2 * var(--vkui--spacing_size_l));
}

.InfoAlert {
    display: flex;
    gap: 10px;
}

.BabyDropdown {
    min-width: 15vw;
}

.Wrapp,
.Wrapp .Workspace span,
.Wrapp .Settings span {
    color: var(--text-color);
}

.Wrapp .Wrapp__PanelHeader div {
    background-color: var(--color-brown);
}

.Wrapp .Wrapp__PanelHeader span,
.Wrapp .Wrapp__PanelHeader .vkuiFormField__border {
    color: var(--color-bg-light);
    border-color: var(--color-bg-light);
}