.ImageUL {
    --imageUL-background: url('https://img.icons8.com/plasticine/100/cat-footprint.png');
    --imageUL-contentBetween: "";
    --imageUL__li-mrg: calc(1em + 10px);
    list-style: none;
}

.ImageUL__li {
    position: relative;
    line-height: var(--icon-size);
    margin-bottom: var(--imageUL__li-mrg);
}

.ImageUL__li::after {
    content: '';
    background-image: var(--imageUL-background);
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    background-size: var(--icon-size) var(--icon-size);
    left: -30px;
    top: -5px;
}

.ImageUL__li::before {
    font-style: oblique;
    font-size: calc(0.5em + 0.7vw);
    content: var(--imageUL-contentBetween);
    position: absolute;
    left: -50px;
    top: 25px;
}