.PanelGroups__iconButton {
    height: auto;
}

.PanelGroups__card {
    padding: 0.2em;
    width: 10em;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}